@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    background-color: #000000;
}

p {
    color: white;
}

#page-header {
    color: #f60000;
    font-family: 'Roboto Slab', serif;
}

#movies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    width: 312px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: #14213d;
    position: relative;
    overflow: hidden;
}

.hidden {
    display: none;
}

button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
}

